<ion-view view-title="Configuração">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="list animate-fade-slide-in-right">
          <li class="item item-toggle">
             Vc é Professor ou Estúdio?
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             Ativar Push?
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>          
        </div>
    </ion-content>
</ion-view>
