<ion-view view-title="Favoritos">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/pat-2.jpg">
                    <h2>Patrícia Andrade</h2>
                    <p>Professora de Yoga</p>
                    <i class="icon ion-ios-chatboxes-outline muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/diogo-wernik.jpg">
                    <h2>Diogo Wernik</h2>
                    <p>Professor de Yoga</p>
                    <i class="icon ion-ios-chatboxes-outline muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/ganapati-logo-4.png">
                    <h2>Ganapati</h2>
                    <p>Instituto de Yoga</p>
                    <i class="icon ion-ios-chatboxes-outline muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/dsc2482.jpg">
                    <h2>Soraya Diniz Farah</h2>
                    <p>Professora de Yoga</p>
                    <i class="icon ion-ios-chatboxes-outline muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
