<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-royal" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="center">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="royal">
            <h2>yoga.brasília.io</h2>
        </ion-header-bar>
        <ion-content class="stable-bg">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.profile" class="item-icon-left">
                    <i class="icon ion-ios-person-outline"></i> Meu Perfil
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.cards" class="item-icon-left">
                    <i class="icon ion-ios-people-outline"></i> Professores e Estúdios
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.publications" class="item-icon-left">
                    <i class="icon ion-ios-book-outline"></i> Mural do Yoga
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.friends" class="item-icon-left">
                    <i class="icon ion-ios-heart-outline"></i>Meus Favoritos
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.config" class="item-icon-left">
                    <i class="icon ion-ios-gear-outline"></i> Configurações
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>